<div class="container-fluid about">
  <h2>Who are we?</h2>

  <h3>Our Motivation</h3>
  <p>We love, live and breath cycling.
    <br />
    <br />
     We offer bikes, gear and a repair shop. But we also offer advice on the best tours and we'd love to spread our joy of cycling and exploring the world from our bikes.
    Biking means the world to us and that's why decided to offer high quality used but affordable bikes, new gear and great service to you.</p>
  <br />
  <br />
  <br />
  <h3>How we work</h3>
  <p>Reliable, fast and precise.
  <br />
  <br />
  We believe in giving the customer the best experience possible will lead to more customers and will also help us convince people to ride their bikes more often.</p>
  <br />
  <br />
</div><!--end container-fluid-->
