
<div class="container-fluid contact">
  <h1>Contact Information</h1>

  <div>
    <p>In case, you would like to contact us please find our contact information:</p>
    <ul>
      <li>Adress:<br>Example Street<br>Example City</li>
      <br>
      <li>Email:<br>example@example.example</li>
      <br>
      <li>Telefon:<br>0000000</li>
    </ul>
  </div>
</div><!-- end container-fluid-->
