<div class="container-fluid index">
  <h1>Welcome to Bike Berlin</h1>
  <h2>Your source for used bikes in Berlin.</h2>
  <div class="product-images">
    <p>We offer a variety of bikes at a decent price:</p>
    <ul>
      <li><p>Example 1</p><%= image_tag("bike1.jpeg", class:"img-responsive my-image") %></li>
      <li><p>Example 2</p><%= image_tag("bike2.jpeg", class:"img-responsive my-image") %></li>
    </ul>
  </div><!--end product-images-->
</div><!--end container-fluid-->
