<div class="container-fluid service">
  <h1>Services</h1>
  <h2>We love to repair, maintain and tune-up</h2>

  <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

  <div class="overview-services">
    <table class="services-examples">
      <tr>
        <th>Service</th>
        <th>Description</th>
        <th>Price</th>
      </tr>

      <tr>
        <td>Flat Repair</td>
        <td>Replace and refill tube</td>
        <td>30$</td>
      </tr>

      <tr>
        <td>Brake Adjustment</td>
        <td>Tension adjustment and tune-up</td>
        <td>20$ each</td>
      </tr>

      <tr>
        <td>Wheel True</td>
        <td>Spoke adjustment and straightening</td>
        <td>35$</td>
      </tr>
    </table>
  </div>
</div><!--end container-fluid-->
