<div class="container-fluid thank-you">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="giphy-thank-you">
        <iframe src="https://giphy.com/embed/l3q2FnW3yZRJVZH2g" width="480" height="360" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/animation-animated-l3q2FnW3yZRJVZH2g">via GIPHY</a></p>
      </div>
      <p class="thank-you-note">We have received your message and will respond as soon as possible.</p>
    </div>
  </div>
</div>
