<table>
  <tbody>
    <tr>
      <td><p>You have received  new contact form message. The contents of the messaage are:</p></td>
    </tr>
    <tr>
      <td><p><%= @message %></p></td>
    </tr>
  </tbody>
</table>
