<table>
  <tbody>
    <tr>
      <td><p>You have received a new contact form message from <%= @name%>. The contents of the messaage are:</p></td>
    </tr>
    <tr>
      <td><p><%= @message %></p></td>
    </tr>
  </tbody>
</table>
