// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#notice {
  text-align: center;
}

//PRODUCT INDEX PAGE
.carousel-control-prev-icon {
  height: 40px;
  width: 40px;
}

.carousel-control-next-icon {
  height: 40px;
  width: 40px;
}

.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23506E73' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23506E73' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.products-overview {
  clear: right;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.row {
  clear: all;
  margin: 32px auto;
}

.new-product-button {
  display: block;
  padding: 8px;
  margin: 32px 15px;
  float: right;
  border-radius: 8px;
  background-color: #506E73;
}

.new-product-button a {
    color: #fffff2;
    font-weight: bolder;
}

.product-overview-name {
  text-align: center;
}

h2>a {
  font-weight: bold;
  margin-top: 24px;
}

.img-fluid {
  padding-bottom: 12px;
}

.product-desc {
  display: inline;
  float: left;
  padding: 0;
}

.product-price {
  float: right;
  padding: 0;
  font-weight: bolder;
}

.product-color {
  clear: both;
  font-size: 14px;
  margin-bottom: 48px;
}

.products-display {
  padding: 15px;
}

//PRODUCT SHOW PAGE
.product-image {
  display: inline;
  max-width: 60%;
  margin: 0 16px;
}

.product-show {
  display: inline;
}

.product-show h2 {
  text-align: left;
  font-weight: bolder;
}

.product-edit-back-show {
  display: block;
  clear: both;
}

.back-button {
  clear: both;
  padding: 8px;
  border-radius: 8px;
  background-color: #506E73;
  border: none;
}

.back-button a {
  color: #fffff2;
  font-weight: bolder;
}

.edit-product-button {
  float: right;
  padding: 8px;
  border-radius: 8px;
  background-color: #506E73;
  border: none;
}

.edit-product-button a {
  color: #fffff2;
  font-weight: bolder;
}

.form-user-comment {
  clear: all;
  width: 100%;
}

.form-user-comment textarea {
  height: fit-content;
}

.product-reviews p {
  width: 100%;
}

// stripe checkout button
.checkout_button {
  margin-top: 8px;
}

//pagination
.pagination-style {
  width: 100%;
  text-align: center;
  padding: 0.3em;
  cursor: default;
}

.pagination-style a, .pagination-style span, .pagination-style em {
  padding: 0.2em 0.5em;
}

.pagination-style .disabled {
  color: #aaaaaa;
}

.pagination-style .current {
  font-style: normal;
  font-weight: bold;
  color: #506E73;
}

.pagination-style a {
  border: 1px solid #dddddd;
  color: #505E73;
  text-decoration: none;
}

.pagination-style a:hover, .pagination-style a:focus {
  border-color: #003366;
  background: #505E73;
  color: white;
}

//NEW BIKE PRODUCT FORM
.form-group label {
  font-size: 14px;
  font-weight: bolder;
}

.submit-button {
  margin-top: 32px;
  margin-bottom: 48px;
}

.submit-button input {
  padding: 8px;
  border-radius: 8px;
  background-color: #506E73;
  color: #fffff2;
  font-weight: bolder;
  border: none;
}

// EDIT BIKE PRODUCT FORM
.show-button {
  padding: 8px;
  border-radius: 8px;
  background-color: #506E73;
  font-weight: bolder;
  border: none;
  float: right;
}

.show-button a {
  color: #fffff2;
}
