<div class="container-fluid">
  <h1>Editing Product</h1>

  <%= render 'form', product: @product %>

  <div class="product-edit-back-show">
    <button class="back-button"><%= link_to 'Back', products_path %></button>
    <button class="show-button"><%= link_to 'Show', @product %></button>
  </div>
</div>
